{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>⚙️Bienvenido al controlador del sitio ⚙️</h1>
            Seleccione que desea hacer:

        <ul>
            <li><code><a href="{{'index.php/product'}}"> Ir a controlador de product</a></code></li>
            <li><code><a href="{{'index.php/category'}}"> Ir a controlador de category</a></code></li>
            <li><code><a href="{{'index.php/user'}}"> Ir a controlador de user</a></code></li>

        </ul>

    </div>

{% endblock %}



{#        <li> <code><a href="{{ 'user/index.html.twig'|file_link(0) }}">IR A MENU USUARIO</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/arwebs/templates/site/index.html.twig'|file_link(0) }}">templates/site/index.html.twig</a></code></li>#}

